<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr>
    <div class="card text-white bg-success mb-3" style="width: 100%;" *ngIf="mostrar == true">
      <div class="card-header">{{frase.autor}}</div>
      <div class="card-body">
        <h5 class="card-title">{{frase.mensaje}}</h5>
        
      </div>
    </div>
    <button class="btn btn-outline-primary btn-block" (click)="ocultar()">
      Mostrar/Ocultar
    </button>
  </div>
  <div class="col">
      <h1>*ngFor</h1>
      <hr>
      <ul class="list-group"*ngFor="let item of list">
        <li class="list-group-item">{{item}}</li>
        <!--
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
    </div>
</div>
