<h1>Heroes <small>Marvel & DC</small></h1>
<hr>
<div class="row">                                            
 
    <div class="col-md-4"  *ngFor="let heroe of heroes">
        <img class="card-img-top img-fluid" src="{{heroe.img}}" [alt]="heroe.nombre ">
        <div class="card-block">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text">{{heroe.casa}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 
            <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
 
          </div>
    </div>
<!--
    <div class="col-md-4">
        <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="Card image cap">
        <div class="card-block">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 
            <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
 
          </div>
    </div>

    <div class="col-md-4">
        <img class="card-img-top img-fluid" src="assets/img/daredevil.png" alt="Card image cap">
        <div class="card-block">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 
            <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
 
          </div>
    </div>

    <div class="col-md-4">
        <img class="card-img-top img-fluid" src="assets/img/hulk.png" alt="Card image cap">
        <div class="card-block">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 
            <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
 
          </div>
    </div>

    <div class="col-md-4">
        <img class="card-img-top img-fluid" src="assets/img/linterna-verde.png" alt="Card image cap">
        <div class="card-block">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 
            <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
 
          </div>
    </div>
    <div class="col-md-4">
        <img class="card-img-top img-fluid" src="assets/img/spiderman.png" alt="Card image cap">
        <div class="card-block">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 
            <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
 
          </div>
    </div><div class="col-md-4">
        <img class="card-img-top img-fluid" src="assets/img/wolverine.png" alt="Card image cap">
        <div class="card-block">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 
            <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
 
          </div>
    </div>-->
</div>